body{
		background-image: url(../images/maxresdefault2.jpg);
		background-repeat: no-repeat;
		background-size: auto 100%;

	}
	label{
		font-weight: bold;
		font: Arial,sans-serif;
		font-size: 17px;
		display: block;
		width: 150px;
		float: left;
		margin-right: 22px;
	}
	article{
		background-color: transparent !important;
	}
	#cath_{
		margin-left: 450px;
		font-weight: bold;
		font-size: 17px;
		width : 250px;
		font: Arial,sans-serif;
	}
	

	select{
		margin-top: 60px;
	}
	.btn{
		margin-left: 350px;
		padding:5px 10px 5px 10px; cursor:pointer;
		margin-bottom: 600px;
	}
	.btn:hover{color:firebrick;}

	input, textarea {
 		 width : 300px;
 		 margin: auto;
	}
	textarea {
  		 display : block;
 		 padding : 10px;
  		 margin  : 10px 0 0 -10px;
  		 width   : 340px;
  		 height  : 360px;
		 resize  : none;
  		 overflow: auto;
	}
.inp{
	margin-top: 70px;
}
form{
	margin-bottom: 60px;
}