body{
		

	}
	article{
		background-color: transparent;
		background-color: #e3e3e3;
	}
	form{
		padding-top: 100px;
		padding-bottom: 100px;
		text-align: center;
	}
	
	label{
		font-weight: bold;
		font: Arial,sans-serif;
		font-size: 17px;
		width: 150px;
	}