@font-face {
  font-family: 'OpenSans-Regular';
  src:  url('../font/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-rn6e71');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-rn6e71') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?-rn6e71') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?-rn6e71') format('woff'),
		url('../fonts/icomoon/icomoon.svg?-rn6e71#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'OpenSans-Regular';
	overflow-x: hidden;
	position: relative
}

#nav{
	border-bottom: 1px solid grey;
}

#search{
	background: #666666;
}

#logo{
	border-bottom: none;
}

.origen{
    height: 42px;
    position: relative;
    top: 8px;
    left: 11px;
}

#nav{
	background: #ffffff;
	font-family: 'OpenSans-Regular';
	padding: 4px 0;
}

pre{
	background-color: white;
	margin: none;
	border : 0px;
}

#nav pre{
	font-family: 'OpenSans-Regular' !important;
	font-size: 15px;
	text-align: center;
	padding: 0 60px;
}

ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
 margin:0;
 padding:0;
}

ul.dropdown {
 position: relative;
 z-index: 597;
 float: left;
}

ul.dropdown li {
 float: left;
 line-height: 1.3em;
 vertical-align: middle;
 zoom: 1;
}
ul.dropdown li.hover,
ul.dropdown li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
}
ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 59px;
 left: 0;
 z-index: 598;
 width: 100%;
}
ul.dropdown ul li {
 float: none;
}
ul.dropdown ul ul {
 top: 1px;
 left: 99%;
}

ul.dropdown li:hover > ul {
 visibility: visible;
}

ul.dropdown-linear {
 width: 100%;
}
ul.dropdown-linear ul li {
 float: left;
 margin-top: 10px;
}

ul.dropdown-linear li.hover,
ul.dropdown-linear li:hover {
 position: static;
}

ul.dropdown-linear ul ul {
 display: none !important;
}

ul.dropdown-columnar ul li {
 position: static;
 width: 200px;
}

ul.dropdown-columnar ul ul {
 display: block !important;
 position: static;
 width: auto !important;
}

ul.dropdown-columnar ul ul li {
 float: none;
}

ul.dropdown-columnar ul ul ul {
 display: none;
}

ul.dropdown-columnar li.hover ul,
ul.dropdown-columnar li:hover ul {
 visibility: visible !important;
}

ul.dropdown {
	font: bold 18px/normal Arial, Helvetica, sans-serif;
	letter-spacing: 0px;
	text-transform: uppercase;
}

ul.dropdown li {
	padding: 0 10px;
	background-color: transparent;
	color: #000;
}

ul.dropdown li.last ul li {
	float: right;
}

ul.dropdown > li.hover,ul.dropdown > li:hover { 
	color: #000;
	border-bottom: 2px solid black;
	cursor: pointer;
}

#contact { 
	border-bottom:none;
}

#logo:hover{
	background-color: transparent;
}

ul.dropdown a:link,
ul.dropdown a:visited	{ color: #000; text-decoration: none; }
ul.dropdown a:hover		{ color: #7a7a7a; }
ul.dropdown a:active	{ color: #ffa500; }



ul.dropdown ul {
	background-color: #ffffff;
	font-size: 12px;
	letter-spacing: normal;
}

ul.dropdown ul li { 
	font-weight: bold;

}

ul.dropdown ul ul {
	margin-top: 10px;
	text-transform: none;
}

ul.dropdown ul ul li {
	font-weight: normal;
}



ul.dropdown li a {
	display: block;
	padding: 0 10px;
}
ul.dropdown li {
	padding: 0;
}
ul.dropdown li.dir {
	padding: 0 30px 0 10px;
	
}
ul.dropdown li.dir:hover {}
ul.dropdown ul li.dir {padding: 10px;}
ul.dropdown ul {padding: 0 10px;}
ul.dropdown ul a {width: 140px;padding: 3px 5px;}
ul.dropdown ul a:hover {background-color: #ffa500;color: #fff;}
ul.dropdown ul ul {padding: 0;margin-left: -5px;}
.sep{
	height: 220px;
	padding-right: 70px;
	border-right: 1px solid #666666;
}
.focused .searchinput-field-redesign {
    width: 216px;
    padding: 0 30px 0 30px;
}

.inscr{
	font-size: 12px;
	font-style: none;
	font-family:"Arial";
	right: 20px;
	position: absolute;
	padding-top: 20px;
	text-transform: none;
	letter-spacing: 0.5px;
}

#searchbox {
	width: 240px;
    position: absolute;
    right: 150px;
    padding-top: 6px;
}
#searchbox input {
    outline: none;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus:-moz-placeholder {
    color: transparent;
}
input:focus::-moz-placeholder {
    color: transparent;
}
#searchbox input[type="text"] {
    background: url(images/search-dark.png) no-repeat 10px 13px #ffffff;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #6A6F75;
    width: 160px;
    padding: 12px 17px 12px 30px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px;
    text-shadow: 0 2px 3px #fff;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    border: 1px solid grey;
}
#searchbox input[type="text"]:focus {
	background: #ffffff;
	border: 1px solid grey;
	color: #6A6F75;
	width: 200px;
	padding-left: 10px;
}

#button-submit{
	/*background: url(slider-arrow-right.png) no-repeat;*/
	margin-left: -40px;
	border-width: 0px;
	width: 43px;
	height: 45px;
}


footer .icon{
	margin-top:20px;
	margin-left: 9px;
	height: 40px;
	width: auto;
	opacity: 0.7;
}

.icon:hover{
	opacity: 10;
}

/*Slider*/

.carousel , .carousel-inner>.item>img, .carousel-inner>.item>a>img{
	
	max-height: 800px;
}

/*Footer*/

footer{
	position: relative;
	top : 18px;
	padding: 50px;
	padding-bottom:10px; 
	background-color: #191919;
	color : #ffffff;
}

footer ul{
	list-style: none;
}

footer ul li{
	padding-bottom: 10px;
}

footer ul a , footer ul a:hover{
	text-decoration: none;
	color: #808080;
}

footer .heading , footer .heading:hover{
	text-transform: uppercase;
	color: white;
}

footer .split{
	background-color: grey;
	margin-top: 15px;
	height: 1px;
	width: 100%;
}

footer .bottom{
	color: #808080;
	padding-top: 14px;
}

footer .bottom ul li{
	display: inline;
	padding-right: 15px;
}


.container{
	margin:auto;
}

article{
background-color:#fff;
width:80%;

margin:auto;
}
.affiche {
	width:250px;
	height:200px;
	background-color:white; 
	margin-top: 25px;
	margin-left: 25px;
	margin-left:25px;
	margin-bottom: 25px;
	text-align: left;
	display: inline-block;
	border: 1px solid #000;

}

.affiche img:hover{
	opacity: 0.7;
}

#affichep{
	border: 1px solid #000;
}
#imgA{
	width:248px;
	height:198px;
}
.divIm{
	height:200px;
	width:250px;
}
.pAffichage{
	font-weight: bold;
}
.pAffichage_n{
	font-weight: bold;
	font-size: 18px;
	color: #847171;
}

.pAffichage_p{
	font-size: 30px;
	color: #E74040;
}
table{

	width:100%;
	border-spacing: 5px;
	text-align: center;				
}
table td {
	border-top: 1px solid;
}

#imageP{
	width:50px;
	height:50px;
}




#bodyconnexion{
	background-image: url(../images/maxresdefault2.jpg);
		background-repeat: no-repeat;
		background-size: auto 100%;	


}
#articleconnexion{
	background-color: transparent !important;
		width:100%;
		height:500px;
		margin:auto;

}

.connect{
	margin-left: 30%;
	padding-top: 100px;
}

.btn{
		margin-left: 18%;
		float: left;
		padding:5px 10px 5px 10px; cursor:pointer;
		background-color: #55CD48;
		color: #fff;
		width: 200px;
		font-weight: bold;
	}
.btn:hover{background-color: #5B74F3 ;}
#sec{
	margin-left: 2%;
	float: left;
}
#check{
	float: left;
	margin-left: 200px;
}
#label{
		font-weight: bold;
		font: Arial,sans-serif;
		font-size: 17px;
		display: block;
		width: 150px;
		float: left;
	}
#input {
 		 width : 250px;
 		 float: left;
 		
	}

#afficheProduit {
	height:200px;
	width:250px;
}


#membre {
background-color: #1E1E1E;
width:100%;
height:50px;
position: relative;
text-align: right;
border-bottom: 1px solid grey;
color: #fff;
}
#imageMembre{
	width:50px;
	height:50px;
}
#imagep{
	width:50px;
	height:50px;
	float: left;
	cursor: pointer;
}
#panneau{
	float: left;
	background-color: #1E1E1E;

}

#panneau p{
	font-weight: bold;
	color: #fff;
}

#modif {
	margin-right: 760px;
}
#table #btn_{
	font-weight: bold;
	text-decoration: none;
	background-color: #E06868;
	color: #fff;
	border-radius: 7px;
	padding: 5px;
}

#table #btn_:hover{
	background-color: #64DE9B;
}
