
	body{
		background-image: url(../images/maxresdefault2.jpg);
		background-repeat: no-repeat;
		background-size: auto 100%;

	}
	label{
		font-weight: bold;
		font: Arial,sans-serif;
		font-size: 17px;
		display: block;
		width: 150px;
		float: left; 
	}
	article{
		background-color: transparent !important;
	}
	#cath_{
		margin-left: 450px;
		font-weight: bold;
		font-size: 17px;
		width : 250px;
		font: Arial,sans-serif;
	}
	

	form{
		padding-top: 100px;
	}
	#btn{
		margin-left: 330px;
		padding:5px 10px 5px 10px; cursor:pointer;
	}
	#btn:hover{color:firebrick;}

	input, textarea {
 		 width : 250px;
 		 margin: 0;
	}
	textarea {
  		 display : block;
  		 width   : 300px;
  		 height  : 100px;
		 resize  : none;
  		 overflow: auto;
	}