/*!
 * Start Bootstrap - 3 Col Portfolio HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 100px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    margin-bottom: 40px;
    padding-bottom: -20px;
    display: inline-block;

}

.prod:hover{
	opacity: 0.6;
}

.foo{
	margin-left: -110px;
	padding: 0px;
	width: 100em;
}

